@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
}
#image{
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1621938846418-d802c4d3c5b4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODZ8fGNyb3BzfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  background: rgb(92,236,113);
  background: linear-gradient(295deg, rgba(92,236,113,1) 0%, rgba(210,255,60,1) 100%);
}
.heading{
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.heading p{
  margin: 0 0 30px 0;
}

input{
  padding: 8px 15px;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 500;
}
.div50-cont{
  display: flex;
}
.div50{
  width: 50%;
}
#other-inp{
  display: flex;
  flex-direction: column;
}
#btn-sub{
  width: fit-content;
  align-self: center;
  background-color: rgb(46, 184, 46);
  font-weight: 600;
  border: none;
  font-size: 17px;
  margin-top: 20px;
  cursor: pointer;
}
#btn-sub:hover{
  background-color: rgb(37, 142, 37);

}
#result{
  font-weight: 600;
  font-size: 19px;
}

@media screen and (max-width: 970px) {
  .container{
    grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: 600px) {
  .container{
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  #image{
    height: 40vh;
    width: 100%;
    background-position: center;
  }
  .heading{
    margin-top: 28px;
    font-size: 19px;
  }
  input{
    font-size: 12px;
  }
  #btn-sub{
    font-size: 13px;
  }
}