<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">

  <title>Water Required Prediction</title>
</head>
<body>

  <div class="container">
    <div id="image"></div>
  
    <div class="inputs">
      <div class="heading">
        <p>Predicting Water Requirement of the Field based on Various Parameters</p>
      </div>
      <div>
        <form action="{{ url_for('results') }}" method="POST">
          <div class="div50-cont">
            <input type="text" name="date" class="div50" placeholder="Today's date" required="required">
            <input type="text" name="month" class="div50" placeholder="Month(1-12)" required="required">
          </div>
          <div class="div50-cont">
            <input type="text" name="mintemp" class="div50" placeholder="Min Temp(in deg Celsius)" required="required">
            <input type="text" name="maxtemp" class="div50" placeholder="Max Temp(in deg Celsius)" required="required">
          </div>
          <div id="other-inp">
            <input type="text" name="humidity" id="" placeholder="Percent Humidity" required="required">
            <input type="text" name="windspeed" id="" placeholder="Wind Speed" required="required">
            <input type="text" name="solar" id="" placeholder="Solar Irradiance" required="required">
            <input type="text" name="sun" id="" placeholder="Radiant Energy by Sun(in Mega Joules)" required="required">
            <input type="text" name="kc" id="" placeholder="Crop Coefficient" required="required">
            <input type="submit" name="submit" id="btn-sub">
          </div>
          <br><br>
          <div id="result"> {{ results }} </div>
        </form>
      </div>
    </div>
  </div>
  
</body>
</html>